body {
    font-family: 'Roboto',
        sans-serif;
}

header {
    background-image: url("networkpic.jpg");
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav a {
    display: block;
    padding: 0.5rem 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    background-color: #44318d;
    color: #a4b3b6;
}

nav .active {
    background-color: #44318d;
    color: #a4b3b6;
}
